<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style="border: 1px solid rgb(228, 85, 85); width: 600px; height: 250px;margin: auto; margin-top: 120px;background-color: rgb(237, 229, 229);box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
      <form style="margin: 30px;" id="upload-form" enctype="multipart/form-data">
        <h1 style="margin-left:120px;">Har file to Swagger</h1>
        <label for="har_file"><b>Select .har File :</b></label>
        <input type="file" id="har_file" name="har_file">
        <br><br>
        <label for="domainNameInput"><b>Domain Name : </b></label>
        <input style="width: 230px;" type="text" id="domainNameInput" name="domainName" placeholder="www.example.com | example.com">
        <br>
        <span style="margin-left:110px;font-size:14px;"><b>Note :</b>Please Provide Domain Name or keep it Empty </span>
        <br>
        <button style="margin-left:200px; margin-top:10px; cursor: pointer;" type="submit">Upload</button>
    </form>
    </div>
   
    
      <div id="response"></div>
    
    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
          event.preventDefault();
          
          const domainName = document.getElementById('domainNameInput').value;
          var formData = new FormData();
          formData.append('har_file', document.getElementById('har_file').files[0]);
          formData.append('domainName', domainName || '');
    
          fetch('/convertswag', {
            method: 'POST',
            body: formData
          })
            .then(function(response) {
              if (response.ok) {
                response => response.json()
                return response.blob();
              } else {
                throw new Error('Request failed') ;
              }
            })
            .then(function(blob) {
              var downloadUrl = window.URL.createObjectURL(blob);
              console.log('blob',blob);
              // Create a link element to initiate the download
              var downloadLink = document.createElement('a');
              downloadLink.href = downloadUrl;
              downloadLink.download = 'har_Swagger.json';
              downloadLink.click();
              // window.location.reload()
            })
            .catch(function(error) {
              console.error(error);
            });
        });
      </script>
</body>
</html>